[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglossary = "*"
mwparserfromhell = "*"
jinja2 = "*"
# Apple dictionary generation.
lxml = "*"
beautifulsoup4 = "*"
html5lib = "*"

[dev-packages]
# Scraping packages.
cloudscraper = "*"
requests = "*"
# HTML dictionary generation.
cachetools = "*"

[requires]
python_version = "3.8"
